

.statistical {
  margin: 20px 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px 30px;
  cursor: pointer;
}

.list-statis {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 240px;
  height: 120px;
  border-radius: 10px;
  padding: 10px 15px;
  color: #fff;
  cursor: pointer;
}

.list-statis i {
  font-size: 50px;
}

span.number-txt {
  font-size: 30px;
  text-align: end;
}

span.txt-desc {
  font-size: 20px;
}

span {
  display: block;
}

.feed-back {
  background: #f09819; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #edde5d,
    #f09819
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #edde5d,
    #f09819
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.login-total {
  background: #1fa2ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #a6ffcb,
    #12d8fa,
    #1fa2ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #a6ffcb,
    #12d8fa,
    #1fa2ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.money-total {
  background: #da22ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #9733ee,
    #da22ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #9733ee,
    #da22ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.total-order {
  background: #5433ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #a5fecb,
    #20bdff,
    #5433ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #a5fecb,
    #20bdff,
    #5433ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.total-vote {
  background: #ec008c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #fc6767,
    #ec008c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #fc6767,
    #ec008c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.cv-total {
  background: #2193b0; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #6dd5ed,
    #2193b0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #6dd5ed,
    #2193b0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.total-online {
  background: #a8ff78; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #78ffd6,
    #a8ff78
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #78ffd6,
    #a8ff78
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.total-admin {
  background: #ff512f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #dd2476,
    #ff512f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #dd2476,
    #ff512f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@media screen and (max-width: 767px) {
  .statistical {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px 30px;
    justify-content: center;
    width: 100%;
    cursor: pointer;
  }
}

.bg-clock {
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

/*clok*/
.clock {
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../images/clock.png);
  background-size: cover;
  border-radius: 50%;
  box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
    inset 0 -15px 15px rgba(255, 255, 255, 0.05),
    0 15px 15px rgba(0, 0, 0, 0.05), 0 15px 15px rgba(0, 0, 0, 0.05);
}

.clock:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
}

.clock .hour,
.clock .min,
.clock .sec {
  position: absolute;
}

.clock .hour,
.hr {
  width: 160px;
  height: 160px;
}

.clock .min,
.mn {
  width: 190px;
  height: 190px;
}

.clock .sec,
.sc {
  width: 230px;
  height: 230px;
}

.hr,
.mn,
.sc {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.hr::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 80px;
  background-color: #ff105e;
  z-index: 10;
  border-radius: 6px 6px 0 0;
}

.mn::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 90px;
  background-color: #fff;
  z-index: 11;
  border-radius: 6px 6px 0 0;
}

.sc::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 150px;
  background-color: #fff;
  z-index: 12;
  border-radius: 6px 6px 0 0;
}

.task-chart {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0 10px;
}

.app {
  max-width: 500px;
  width: 100%;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  padding: 20px;
}

.form-control1 {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.content {
  width: 83%;
  padding: 5px;
  height: 45px;
  line-height: 45px;
  resize: none;
  border: 1px solid #eee;
  border-radius: 5px 0px 0px 5px;
  overflow: hidden;
}

textarea {
  font-size: 16px;
  outline: none;
}

ul.task-list li.item-task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  margin-bottom: 15px;
}

.form-control1 button {
  height: 45px;
  /* line-height: 45px; */
  border: none;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  border-radius: 0px 5px 5px 0px;
  background-color: #3d6ef7;
  color: #fff;
  margin-bottom: 0 !important;
}

.list-task h4 {
  margin-bottom: 10px;
  font-size: 20px;
}

.task-fc {
  display: flex;
  align-items: center;
}

.task-fc .icon {
  color: #fff;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: 20px;
}

.task-fc .icon-edit {
  background-color: #6a5af9;
}

.task-fc .icon-remove {
  background-color: crimson;
  margin-left: 10px;
}

/* form */
.header {
  text-align: center;
  background-color: #f7f7f7;
  padding: 20px 40px;
  border-bottom: 1px solid #f0f0f0;
}

.form {
  padding: 30px 40px;
}

.form-control2 {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control2 label {
  display: inline-block;
  margin-bottom: 5px;
}

.form-control2 input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  width: 100%;
  font-size: 14px;
  padding: 10px;
}

.form-control2.success input {
  border-color: #2ecc71;
}

.form-control2.error input {
  border-color: #e74c3d;
}

.form-control2 i {
  position: absolute;
  top: 40px;
  right: 10px;
  width: 20px;
  height: 20px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
  color: #fff;
  border-radius: 50%;
}

.form-control2.success i.icon-check {
  opacity: 1;
  visibility: visible;
  background-color: #2ecc71;
}

.form-control2.error i.icon-ex {
  opacity: 1;
  visibility: visible;
  background-color: #e74c3d;
}

.form-control2 i.icon-eye1 {
  opacity: 1;
  visibility: visible;
  color: #333;
  cursor: pointer;
}

.form-control2 small {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
}

.form-control2.error small {
  color: #e74c3d;
  opacity: 1;
  visibility: visible;
}

.form button {
  background-color: #8e44ad;
  color: #fff;
  border: 2px solid #8e44ad;
  border-radius: 4px;
  display: block;
  padding: 10px;
  width: 100%;
}

/*Show login*/
.block {
  display: block;
}

/*Hidden login*/
.none {
  display: none;
}
